// section {
//   float: left;
// }

.wrap {
  @include outer-container(1000px);
  @media screen and #{$medium-break} {
    @include outer-container(700px);
  }
}

.row {
  @media screen and #{$small-break} {
    margin-left: 9%
  }
}

.main {
  float: left;
}

.tile1 {
  @extend %section-tile;
  background-color: rgba(64, 61, 88, 0.9);
}

.tile1::after {
  @include back-tile-img($img1, left, $black) {}
}

.tile2 {
  @extend %section-tile;
  background-color: rgba(210, 42, 79, 0.7);
}

.tile2::after {
  @include back-tile-img($img2, top, $black) {}
}
