// color names

$black: black;
$white: white;
$magenta: #ce2d4f;
$plum: #403D58;
$cream: #eafff7;
$yellow: #f7ff58;
$alpha: .5;

// color labels

$text-color: $white;
$accent-color: $yellow;
$icon-color: mix($magenta, $white, $alpha);
$tile1: $plum;
$tile2: $magenta;
$button-color: $yellow;
$backgorund-color: $cream;
$shadow: lighten($black, 25%);

//breakpoints

$medium-break: '(max-width: 1000px)';
$small-break: '(max-width: 600px)';

//Burbon buttons

#{$all-buttons} {
  background-color: #f00;
  @include button(pill);
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
  background-color: #0f0;
}

#{$all-buttons-active} {
  background-color: #00f;
}
