//homegrown variables

// color names

$black: black;
$white: white;
$magenta: #ce2d4f;
$plum: #403D58;
$cream: #eafff7;
$yellow: #f7ff58;
$alpha: .5;

// color labels

$text-color: $white;
$accent-color: $yellow;
$icon-color: mix($magenta, $white, $alpha);
$tile1: $plum;
$tile2: $magenta;
$button-color: $yellow;
$shadow: lighten($black, 25%);

//breakpoints

$medium-break: '(max-width: 1000px)';
$small-break: '(max-width: 600px)';

//interpolation of img files

$img1: 'time-wizard.jpg';
$img2: 'black-dragon.jpg';
$img3: 'dark-magician.png';
$img4: 'yugi.jpg';

//fonts

$font-stack: impact, sans-serif;
$font-main: 'heebo', $font-stack;

//Burbon button variables

#{$all-buttons} {
  background-color: rgba(0, 0, 0, 0.01);
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
  background-color: $yellow;
  color: $black;
}

#{$all-buttons-active} {
  background-color: $icon-color;
}
